.page {
  background-color: beige;
}

.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self: center;
  margin: auto;
}

.heading {
  display: flex;
  flex-direction: row;
}

.heading__left {
  width: 50%;
  justify-content: space-around;
}

.heading__title {
}

.heading__content {
}

.heading__right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.heading__img {
  width: 10vw;
  height: auto;
}

.section {
  display: flex;
}

.section__label {
}

.section__subsection {
}

.section__header {
}

.section__header--right {
}

.section__header--left {
}

.section__subheader {
}

.section__subheader--right {
}

.section__subheader--left {
}

.section__content {
}
